source /boot/grub/config.cfg

menuentry "Fennec Linux Live" --hotkey=l {
    linux @KERNEL_LIVE@ @APPEND_LIVE@
    initrd @INITRD_LIVE@
}

if [ "@LB_BOOTAPPEND_LIVE_FAILSAFE@" != "none" ]; then
    menuentry "Fennec Linux Live (failsafe)" {
        linux @KERNEL_LIVE@ @LB_BOOTAPPEND_LIVE_FAILSAFE@
        initrd @INITRD_LIVE@
    }
fi

submenu "Utilities..." --hotkey=u {

    source /boot/grub/theme.cfg

    if @ENABLE_MEMTEST@; then
        source /boot/grub/memtest.cfg
    fi

    if [ "${grub_platform}" = "efi" ]; then
        menuentry "UEFI Firmware Settings" --hotkey=f {
            fwsetup
        }
    fi

    if @ENABLE_VERIFY_CHECKSUMS@; then
        menuentry "Verify integrity of the boot medium" --hotkey=v {
            linux @KERNEL_LIVE@ @APPEND_VERIFY_CHECKSUMS@
            initrd @INITRD_LIVE@
        }
    fi
}
